body {
  background-color: #ffffff;
  font: 300 0.875em/1.58 museo-sans;
  color: #181818;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.071em;
  font-weight: 500;
}

h2 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  margin-top: 1.5em;
  font-size: 1.143em;
  font-weight: 500;
}

h4 {
  margin-top: 1.5em;
  font-size: 1em;
  font-weight: 500;
}

a {
  color: rgb(141, 141, 141);
}

p {
  margin-bottom: 1em;
}

section {
  padding-top: 160px;
}

ul {
  margin-left: 36px;
}

li {
  list-style-type: square;
}

footer {
  margin-top: 100px;
  padding: 30px 0;
  border-top: 1px solid rgb(226, 226, 226);
  font-size: 0.8em;
  color: rgb(141, 141, 141);
  text-align: center;
}

.home {
  position: fixed;
  top: -4px;
  left: 8.5%;
  width: 64px;
  height: 64px;
}

.logo {
  width: 64px;
}

.content {
  float: left;
  width: 57.5%;
  max-width: 690px;
  height: 763px;
  margin-left: 25.5%;
}

.primary-nav {
  position: fixed;
  top: 170px;
  left: 8.5%;
  z-index: 7;
  width: 15%;
  font-size: 1em;
  color: rgb(141, 141, 141);
}

.primary-nav a {
  display: block;
  color: rgb(141, 141, 141);
}

.primary-nav a:hover {
  color: rgb(0, 173, 255);
}

.primary-nav a.is-active {
  color: rgb(237, 72, 119);
}

.wip {
  background-color: rgba(255, 255, 0, .3);
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

.key {
  padding: 2px 4px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .07);
  font-weight: 500;
  position: relative;
}

.key.osx,
.key.win {
  margin-left: 18px;
}

.key.osx:before,
.key.win:before {
  content: '';
  position: absolute;
  top: 2px;
  left: -18px;
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
}

.key.osx:before {
  background-image: url(../images/osx-logo.png);
  background-size: 14px 17px;
}

.key.osx {
  margin-right: 10px;
}

.key.win:before {
  background-image: url(../images/windows-logo.png);
  background-size: 16px 17px;
}

.cmd {
  border: 1px dotted rgba(0, 0, 0, 0.15);
  padding: 2px 4px;
  border-radius: 3px;
}

.btn {
  padding: 2px 5px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.hamburger {
  display: none;
}

.intro {
  color: #bbb;
}

code {
  font-family: Monaco, monospace;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

/* images */
.img-navigator {
  width: 505px;
}

.img-components {
  width: 301px;
}

@media(max-width: 800px) {
  .home {
    left: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    left: 84px;
    width: 64px;
    height: 64px;
  }

  .content {
    clear: both;
    width: 66%;
    margin-left: 17%;
  }

  .primary-nav {
    display: none;
    position: static;
    float: left;
    margin-top: 85px;
    margin-left: 17%;
    font-size: 1.2em;
  }

  .primary-nav.is-visible {
    display: block;
  }
}